.c-paperweight-form-field
  font-size: 1rem
  margin-bottom: 22px
  position: relative

.c-paperweight-label
  display: block
  width: 100%
  margin-bottom: 6px

.c-paperweight-input
  display: block
  width: 100%
  padding: 6px 10px
  border-radius: 2px
  border: 1px solid #eaeaea
  line-height: 1.4
  font-size: 1rem

  &:focus,
  &:hover
    outline: 0
    border-color: #33d1ff

  &.is-error
    border: 1px solid red

.c-paperweight-input-error
  position: absolute
  color: red

.u-pos-relative
  position: relative

//
// Email input
//
.c-paperweight-email-input-container
  height: 60px
  margin-bottom: 22px

.c-paperweight-email-input-container input
  position: absolute
  z-index: 2
  top: 20px
  left: 0

.c-paperweight-email-input-focus
  background: transparent

.c-paperweight-email-input-shadow
  z-index: 1
  color: #dedede
